<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DatabaseFile" value="prompt_optimizer.db" />
    <add key="LogLevel" value="Info" />
    <add key="APITimeout" value="30" />
  </appSettings>
  
  <connectionStrings>
    <add name="PromptOptimizerDb" 
         connectionString="Data Source=prompt_optimizer.db" 
         providerName="System.Data.SQLite" />
  </connectionStrings>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>
